langchain
langchain_groq
langchain_experimental
langchainhub
pinecone-client
python-dotenv
tiktoken
docx2txt
pypdf
requests
numpy
pandas
ipykernel
duckduckgo-search
wikipedia
pinecone
pinecone-client
langchain_ollama
langchain_pinecone